.header{
    width: 100%;
    height: 120px;
    background-color: rgb(152, 223, 223);
    color: white;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
}

.footer{
    width: 100%;
    height: 32px;
    background-color: rgb(226, 158, 126);
    color: white;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.footerAddress{
    color: black;
    width: 32%;
}

.logo{
    display: flex;
    justify-content: flex-start;
}
.headerText{
    display: flex;
    text-align: center;
    width: 100%;
    text-align: center;
}
.headerTextText{
    color: black; font-size: 40px;width: 100%; align-self: center;
}
.logoImage{
    width: 100px;height: 100px;align-self: center;padding-left: 15px;
}
.contact{
    display: flex;flex-direction: column; width: 350px;text-align: left;align-self: center;color: black;
}

.info{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 30px;
}
.index{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    top: 120px;
    left: 0;
    background-color: #4CAF50;
}

@media screen and (max-width:1024px) {
    .headerText{
        font-size: 20px;
    }
}

@media screen and (max-width:676px){
    .body{
        font-size: 8px;
    }
    .header{
        display: flex;
        height: 50px;
        justify-content: space-between;

    }
    .footer{
        display: flex;
        padding: 5px;
        height: 25px;
        justify-content: space-between;
    }
    .logo {
        display: flex;
        align-self: center;
        width: 25px;
        height: 25px;
    }
    .logoImage{
        width: 25px;
        height: 25px;
        padding-left: 5px;
    }
    .headerText{
        font-size: 15px;

    }
    .headerTextText{
        color: black;
        font-size: 8px;
        width: 100%;
        align-self: center;
    }
    .contact{
        display: flex;
        flex-direction: column;
        text-align: left;
        align-self: center;
        color: black;
        font-size: 8px;
        /* width: 225px; */
    }
    .indexLink{
        margin: 0px;
        padding:0px;
    }
    .index{
        width: 25%;height: fit-content;
    }
    .info{
        width: 65%;
    }
}

@media screen and (max-width:888px) and (min-width:677px){
    .body{
        font-size: 12px;
    }
    .header{
        display: flex;
    }
    .logo {
        display: flex;
        align-self: center;
        width: 25px;
        height: 25px;
    }
    .logoImage{
        width: 40px;
        height: 40px;
    }
    .headerText{
        font-size: 20px;

    }
    .headerTextText{
        color: black;
        font-size: 20px;
        width: 100%;
        align-self: center;
    }
    .contact{
        display: flex;
        flex-direction: column;
        text-align: left;
        align-self: center;
        color: black;
        font-size: 13px;
    }
}